<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIS Portal • Register</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/register.css" />
    <link rel="stylesheet" href="/CSS/formStyle.css" />
  </head>
  <body>
    <header class="portal-header">
      <a href="/register.portal" style="text-decoration: none">
        <div class="logo">
          <img src="/Images/portal-logo.png" alt="IIS Portal Logo" />
          <h1>IIS Portal</h1>
        </div>
      </a>
      <a href="/login">
        <button class="signup-btn">Log-in</button>
      </a>
    </header>

    <main>
      <section class="role-selection" style="height: 70vh">
        <div class="container">
          <h2 class="form-title">Form completed</h2>
          <p class="form-subtitle">
            You will get a phone call soon. Till then, take care!
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="256"
            height="256"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#2e66d8"
            stroke-width="0.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check"
          >
            <path d="M20 6 9 17l-5-5" />
          </svg>
        </div>
      </section>
    </main>
  </body>
</html>
