<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIS | NEWS</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/news.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <!-- LOGO + NAV -->
        <div class="hero-header">
          <a href="/">
            <div class="hero-logo">
              <img src="/Images/logo2.png" alt="IIS Logo" class="logo-img" />
              <span class="school-name">Indian International School</span>
            </div>
          </a>
          <nav class="hero-nav">
            <ul class="nav-menu">
              <li><a href="/" class="nav-link">Home</a></li>
              <li><a href="/about" class="nav-link">About</a></li>
              <li><a href="news" class="nav-link active">News</a></li>
              <li><a href="/gallery" class="nav-link">Gallery</a></li>
              <li><a href="/contact" class="nav-link">Contact</a></li>
              <li><a href="/register" class="nav-link">Register</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <section id="news">
      <h1>This page is under construction</h1>
    </section>
  </body>
</html>
<style>
  .hero {
    height: 0vh;
  }
</style>
